/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"app/layout.js","import":"Inter","arguments":[{"subsets":["latin"]}],"variableName":"inter"} ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: '__Inter_36bd41';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/55c55f0601d81cf3-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Inter_36bd41';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/26a46d62cd723877-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Inter_36bd41';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/97e0cb1ae144a2a9-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Inter_36bd41';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/581909926a08bbc8-s.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Inter_36bd41';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/df0a9ae256c0569c-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Inter_36bd41';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/6d93bde91c0c2823-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Inter_36bd41';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/a34f9d1faa5f3315-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Inter_Fallback_36bd41';src: local("Arial");ascent-override: 90.49%;descent-override: 22.56%;line-gap-override: 0.00%;size-adjust: 107.06%
}.__className_36bd41 {font-family: '__Inter_36bd41', '__Inter_Fallback_36bd41';font-style: normal
}

/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background: #070724;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right, rgba(1, 65, 255, 0), rgba(1, 65, 255, 0), rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80, #ffffff40, #ffffff30, #ffffff20, #ffffff10, #ffffff10, #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./public/scss/styles.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
:root {
  --bg-mercury: #419ebb;
  --bg-venus: #eda249;
  --bg-earth: #6d2ed5;
  --bg-mars: #d14c32;
  --bg-jupiter: #d83a34;
  --bg-saturn: #cd5120;
  --bg-uranus: #1ec1a2;
  --bg-neptune: #2d68f0;
}

ul {
  list-style: none;
}

.navigation {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #070724;
}
.navigation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0.875rem 2rem;
}
@media (max-width: 68rem) {
  .navigation .container {
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 47.9375rem) {
  .navigation .container {
    gap: 0.725rem;
  }
}
.navigation .container > span {
  text-transform: uppercase;
  font-size: 1.625rem;
}
.navigation .container ul {
  display: flex;
  gap: 1rem;
  margin-top: 0.2rem;
}
@media (max-width: 47.9375rem) {
  .navigation .container ul {
    gap: 0.725rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.navigation .container ul li {
  font-size: 0.675rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.navigation .container ul li a {
  cursor: pointer;
  padding: 0.25rem 0.5rem 0.2rem 0.5rem;
}
.navigation .container ul li a.active {
  background-color: #fff;
  color: #000;
}

.detail-container {
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-gap: 7rem;
  gap: 7rem;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 6rem;
  margin-bottom: 5rem;
  padding-inline: 1.25rem;
  align-items: flex-start;
}
@media (max-width: 68rem) {
  .detail-container {
    grid-template-columns: 1fr;
    gap: 4rem;
    margin-top: 10rem;
    margin-bottom: 4rem;
  }
}
.detail-container .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 582px;
  position: relative;
}
@media (max-width: 68rem) {
  .detail-container .img-wrapper {
    height: 370px;
  }
}
.detail-container .img-wrapper img {
  display: none;
  max-width: 100%;
}
@media (max-width: 68rem) {
  .detail-container .img-wrapper img {
    max-height: 100%;
    margin: 0 auto;
  }
}
.detail-container .img-wrapper img.active {
  display: block;
}
.detail-container .img-wrapper .info {
  display: none;
}
.detail-container .img-wrapper .info.active {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.detail-container .img-wrapper .info.active > img {
  display: block;
  max-width: 160px;
}
@media (max-width: 68rem) {
  .detail-container .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    gap: 2rem;
    align-items: center;
  }
}
@media (max-width: 47.9375rem) {
  .detail-container .content-wrapper {
    grid-template-columns: 1fr;
  }
}
.detail-container .content-wrapper h1 {
  font-size: 3.725rem;
  margin-bottom: 1.625rem;
  text-transform: uppercase;
}
@media (max-width: 47.9375rem) {
  .detail-container .content-wrapper h1 {
    font-size: 2.25rem;
  }
}
.detail-container .content-wrapper .content-tab {
  display: none;
}
.detail-container .content-wrapper .content-tab.active {
  display: block;
}
.detail-container .content-wrapper .content-tab p {
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
  height: 14rem;
}
@media (max-width: 68rem) {
  .detail-container .content-wrapper .content-tab p {
    height: 10rem;
  }
}
@media (max-width: 47.9375rem) {
  .detail-container .content-wrapper .content-tab p {
    font-size: 0.875rem;
    height: auto;
  }
}
.detail-container .content-wrapper .content-tab span {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-bottom: 2.5rem;
}
@media (max-width: 47.9375rem) {
  .detail-container .content-wrapper .content-tab span {
    font-size: 0.725rem;
  }
}
.detail-container .content-wrapper .content-tab span a {
  text-decoration: underline;
  margin-left: 0.425rem;
}
.detail-container .content-wrapper .btn-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 47.9375rem) {
  .detail-container .content-wrapper .btn-section {
    gap: 1rem;
  }
}
.detail-container .content-wrapper .btn-section button {
  font-size: 0.875rem;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: none;
  text-align: left;
  padding: 0.725rem 1rem;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #fff;
}
.detail-container .content-wrapper .btn-section button:hover {
  background: rgba(216, 216, 216, 0.2);
  border-color: transparent;
}
.detail-container .content-wrapper .btn-section button.active {
  border-color: transparent;
}
.detail-container .content-wrapper .btn-section button.active.bg-mercury {
  background-color: var(--bg-mercury);
}
.detail-container .content-wrapper .btn-section button.active.bg-venus {
  background-color: var(--bg-venus);
}
.detail-container .content-wrapper .btn-section button.active.bg-earth {
  background-color: var(--bg-earth);
}
.detail-container .content-wrapper .btn-section button.active.bg-mars {
  background-color: var(--bg-mars);
}
.detail-container .content-wrapper .btn-section button.active.bg-jupiter {
  background-color: var(--bg-jupiter);
}
.detail-container .content-wrapper .btn-section button.active.bg-saturn {
  background-color: var(--bg-saturn);
}
.detail-container .content-wrapper .btn-section button.active.bg-uranus {
  background-color: var(--bg-uranus);
}
.detail-container .content-wrapper .btn-section button.active.bg-neptune {
  background-color: var(--bg-neptune);
}
.detail-container .content-wrapper .btn-section button span {
  display: inline;
  font-size: 0.875rem;
  margin-right: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.info-container {
  display: flex;
  gap: 1.875rem;
  max-width: 1000px;
  margin: 0 auto;
  padding-inline: 1.25rem;
  margin-bottom: 6rem;
}
@media (max-width: 47.9375rem) {
  .info-container {
    flex-direction: column;
    gap: 1.325rem;
  }
}
.info-container .info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 47.9375rem) {
  .info-container .info {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.info-container .info span {
  font-size: 0.625rem;
  color: rgba(255, 255, 255, 0.5);
}
.info-container .info strong {
  font-size: 1.375rem;
}
@media (max-width: 68rem) {
  .info-container .info strong {
    font-size: 1rem;
  }
}
